.question {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: min(80vw, 500px);
  margin: 0 auto;
}

.questionText {
  font-weight: bold;
  padding: 12px 0;
}

.answer {
  display: block;
  background: #ffffff33;
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  padding: 12px;
  text-align: left;
}
