.questionContainer {
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  min-height: 100vh;
  max-height: 100vh;
  padding: 12px;
  position: relative;

  flex-direction: row;
  gap: 12px;
  width: min(80vw, 1024px);
  padding: 10vh 0;
}

@media (max-width: 1024px) {
  .questionContainer {
    flex-direction: column;
    gap: 12px;
    width: min(80vw, 500px);
  }
  body .cordThread {
    height: 35vh;
    max-height: 35vh;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.question {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .question {
    width: 100%;
  }
}

.questionNumber {
  position: absolute;
  top: calc(10vh - 32px);
  left: 0;
}

.cordThread {
  flex: 1;
}

.questionText {
  font-family: 'FavoritMono';
  white-space: pre-wrap;
  padding: 12px 0;
  font-size: 16px;
  line-height: 24px;
}

.answer {
  align-items: center;
  display: flex;
  background-color: #ffffff33;
  border: 1px #ffffff00 solid;
  border-radius: 12px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  justify-content: space-between;
  padding: 14px;
  position: relative;
  text-align: left;
  transition: background-color 0.3s;
}

.answer:hover {
  background-color: #ffffff55;
}

.answer:active {
  border: 1px #ffffff77 solid;
}

.selectedAnswer {
  border: 1px #ffffff88 solid;
  top: 0;
}

.avatars {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.botAvatar,
.humanAvatar {
  align-items: center;
  background: #00000033;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  height: 18px;
  width: 18px;
}

.submit {
  border: 1px #00000000 solid;
  animation: fadeLoop 1.5s infinite;
  background: #00000033;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  justify-content: flex-end;
  mix-blend-mode: overlay;
}

.submit:hover {
  border: 1px #ffffff solid;
}

.submit:active {
  position: relative;
  top: 1px;
}

@keyframes fadeLoop {
  0% {
    background: #00000033;
  }
  50% {
    background: #00000055;
  }
  100% {
    background: #00000033;
  }
}

.correctAnswerBackground {
  background-color: #369c5b;
}

.incorrectAnswerBackground {
  background-color: #a12424;
}

.correctAnswer,
.incorrectAnswer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -10px;
  top: 0;
  bottom: 0;
}

.correctAnswer .inner {
  background: #016526;
}

.incorrectAnswer .inner {
  background: #912611;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px #fff solid;
}

.outcome {
  align-items: center;
  display: flex;
  background: #00000077;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  justify-content: space-between;
  padding: 12px 12px 12px 24px;
  mix-blend-mode: overlay;
}

.nextQuestion {
  align-items: center;
  display: flex;
  background: #000000aa;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 12px;
  padding: 12px;
  animation: fadeLoop 1.5s infinite;
}

.nextQuestion:hover {
  background: #ffffff33;
}
