.questionContainer {
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  min-height: 100vh;
  padding: 12px;

  flex-direction: row;
  gap: 12px;
  width: min(80vw, 1024px);
}

@media (max-width: 1024px) {
  .questionContainer {
    flex-direction: column;
    gap: 12px;
    width: min(80vw, 500px);
  }
}

.question {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
}

.questionText {
  font-weight: bold;
  padding: 12px 0;
}

.answer {
  align-items: center;
  display: flex;
  background: #ffffff33;
  border: 2px #ffffff00 solid;
  border-radius: 12px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  justify-content: flex-start;
  padding: 12px 36px 12px 12px;
  position: relative;
  text-align: left;
}

.answer:hover {
  background: #ffffff55;
}

.answer:active {
  border: 2px #ffffff88 solid;
  top: 1px;
}

.selectedAnswer {
  border: 2px #fff solid;
}

.botAvatar,
.humanAvatar {
  align-items: center;
  background: #ffffff33;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  height: 12px;
  position: absolute;
  right: 12px;
  width: 12px;
}

.botAvatar {
  bottom: 6px;
}

.humanAvatar {
  top: 6px;
}

.submit {
  border: 2px #00000000 solid;
  animation: fadeLoop 1.5s infinite;
  background: #00000033;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
}

.submit:hover {
  border: 2px #ffffff solid;
}

.submit:active {
  position: relative;
  top: 1px;
}

@keyframes fadeLoop {
  0% {
    background: #ffffff33;
  }
  50% {
    background: #88888855;
  }
  100% {
    background: #ffffff33;
  }
}
