.scorecardContainer {
  background: #0037a0;
}

.scorecard {
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  min-height: 100vh;
  max-height: 100vh;
  padding: 12px;

  flex-direction: column;
  justify-content: space-between;
  width: min(80vw, 1024px);
  padding: 10vh 0;
}

@media (max-width: 1024px) {
  .scorecard {
    width: min(80vw, 500px);
  }
}

.card {
  display: flex;
  flex-direction: column;
}

.section {
  background: #00000033;
  font-size: 24px;
  line-height: 36px;
  padding: 12px;
  text-align: center;
}

.heading {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-top: 24px;
}

.footer {
  font-size: 18px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.poweredBy {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding: 24px;
}

.logo {
  margin-top: 12px;
}
