.startContainer {
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 10vh 0;
}
.start {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 24px;
  line-height: 36px;
  gap: 12px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: min(80vw, 300px);
}

.startButton {
  animation: fadeIn 6s;
  background: #00000088;
  border-radius: 12px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 24px;
  margin-top: 36px;
  min-width: 200px;
  mix-blend-mode: overlay;
  padding: 12px;
}

.startButton:hover {
  background: #00000055;
}

.startButton:active {
  position: relative;
  top: 1px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.startButton.hidden {
  pointer-events: none;
  color: #ffffff33;
  background: #00000033;
}

.poweredBy {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding: 24px;
}

.logo {
  margin-top: 12px;
}
